<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<!-- delModal -->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="del-modal-title" id="delModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset disabled>
                        <input type="hidden" name="taskId" class="del-task-id">
                        <div class="mb-3 row">
                            <label for="del-title" class="col-sm-2 col-form-label">Заголовок</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control del-task-title" id="del-title">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="del-description" class="col-sm-2 col-form-label ">Текс</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control del-task-description" id="del-description">
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary cancel-button" data-bs-dismiss="modal" id = "deleteModalCloseButton">Отмена</button>
                <button type="button" class="btn btn-danger del-button"   id="del-user-button">Удалить</button>
            </div>
        </div>
    </div>
</div>
<!--Обновление-->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--                <form th:action="@{/updateUser}" method="post">-->
                <form>
                    <input type="hidden" name="taskId" class="up-task-id">
                    <div class="mb-3 row">
                        <label for="up-title" class="col-sm-2 col-form-label">Заголовок</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control up-task-title" id="up-title">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="up-description" class="form-label">Описание</label>
                        <textarea class="form-control up-task-description" id="up-description" rows="3"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id = "updateModalCloseButton">Отменить</button>
                <button type="button" class="btn btn-primary update-button"
                        id="update-user-button">Обновить
                </button>
            </div>
        </div>
    </div>
</div>
<!--Новая задача-->
<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--                <form th:action="@{/updateUser}" method="post">-->
                <form>

                    <div class="mb-3 row">
                        <label for="new-title" class="col-sm-2 col-form-label">Заголовок</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control new-task-title" id="new-title">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="new-description" class="form-label">Описание</label>
                        <textarea class="form-control new-task-description" id="new-description" rows="3"></textarea>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id = "newModalCloseButton">Отмена</button>
                <button type="button" class="btn btn-primary new-button"
                        id="new-user-button">Создать
                </button>
            </div>
        </div>
    </div>
</div>

<h1>Тут скоро будут сказки...</h1>

<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>Album</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">ToDoListV2:</h1>
                <p class="lead text-muted">Тут можно добавить какие-нибудь заметки:</p>
                <p>
<!--                    <a href="#" class="btn btn-primary my-2">Main call to action</a>-->
                    <button type="button"
                                    class="btn btn-primary "
                                    data-bs-toggle="modal"
                                    data-bs-target="#newModal">
                                Добавить
                    </button>
<!--                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>-->
                </p>
            </div>
        </div>
    </section>



    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="allTasksTable">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                        <th:block th:each="task : ${tasks}">
                        </th:block>

                    </div>
                 </div>
            </div>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="tasks.js"></script>
<script type="text/javascript" src="modalDel.js"></script>
<script type="text/javascript" src="modalUp.js"></script>
<script type="text/javascript" src="modalNew.js"></script>
</body>
</html>
